*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  overscroll-behavior: none;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.scroll-container {
  position: relative;
  z-index: 0;
  height: 300vh;
}
